# [submodule "third_party/moodycamel_conc"]
# 	path = third_party/moodycamel_conc
# 	url = https://github.com/cameron314/concurrentqueue.git

# [submodule "third_party/moodycamel_spsc"]
# 	path = third_party/moodycamel_spsc
# 	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "third_party/moodycamel_conc"]
	path = third_party/moodycamel_conc
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "third_party/moodycamel_spsc"]
	path = third_party/moodycamel_spsc
	url = https://github.com/cameron314/readerwriterqueue.git
